name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      # needed or else: `The system library `alsa` required by crate `alsa-sys` was not found.`
      - run: sudo apt-get update && sudo apt-get install -y libasound2-dev
      - run: ./ci.sh
